HOST=
DB=
DESIGN_DOCUMENT=
SAMPLE_DATA_VIEW=
SECRET_KEY='somekey'
SAMPLE_IDS_VIEW=

META=
CNV_INTRAGENIC_VARIANTS=
CNV_VARIANTS=
SNP_EXONIC=
SNP_EXONIC_NP=
SNP_SILENT=
SNP_SILENT_NP=
SEG_DATA=

DATE_FILE=
ALERT_EMAIL=
